/* ============================== Resets ==============================*/
*, html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
* {
  --blue: #4f7df3;
  --pale-blue: #c2d3ff;
  --light-red: #ff5263;
  --dark-gray: #969696;
  --very-dark-blue: #151f29;


	--ff-main: 'Libre Franklin', sans-serif;
	--fw-light: 300;
	--fw-semi-bold: 600;
	--fw-bold: 700;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	color: var(--very-dark-blue);
	font-family: var(--ff-main);
	font-weight: var(--fw-light);
	letter-spacing: 0.5px;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.App {
	display: flex;
	justify-content: center;
	align-items: center;
}